In [ ]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "../")))

from database_operations import DatabaseOperations
from overtake_model import OvertakingModel
from race_data import RaceDataSetup
from race_dataframe import RaceDataframe
from race_sim import RaceSimulation
from evaluation import RaceSimEvaluation, EvaluateMany

import pandas as pd

pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
pd.set_option('display.max_colwidth', None)

NameError: name 'pd' is not defined

In [ ]:
db1 = DatabaseOperations(2024, "Sakhir")
race1 = RaceDataframe(db1)

In [ ]:
race1._get_raw_race_df()

,lap_num,lap_time,sector,stint_num,stint_lap,position,driver_name,driver_number,sector_time,tyre_type,tyre_laps,pit,pit_time,track_status,base_sector_time
0,1,97.284,1,1,1,1,Max Verstappen,1,NaN,1,4,False,NaN,12,28.509
1,1,98.271,1,1,1,2,Charles Leclerc,16,NaN,1,4,False,NaN,12,28.762
2,1,99.228,1,1,1,3,George Russell,63,NaN,1,4,False,NaN,12,28.800
3,1,100.053,1,1,1,4,Sergio Perez,11,NaN,1,4,False,NaN,12,28.738
4,1,100.620,1,1,1,5,Carlos Sainz,55,NaN,1,4,False,NaN,12,28.850
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3382,57,96.582,3,3,24,6,Lando Norris,4,23.819,3,24,False,NaN,1,22.362
3383,57,96.138,3,3,24,7,Lewis Hamilton,44,23.604,3,24,False,NaN,1,22.369
3384,57,95.920,3,3,23,8,Oscar Piastri,81,23.781,3,23,False,NaN,1,22.439
3385,57,95.276,3,3,16,9,Fernando Alonso,14,23.552,3,16,False,NaN,1,22.374
3386,57,97.335,3,3,30,10,Lance Stroll,18,24.104,3,30,False,NaN,1,22.694

precision    recall  f1-score   support

 No Overtake       0.99      1.00      1.00      3105
   Overtaken       0.98      0.69      0.81        72

    accuracy                           0.99      3177
   macro avg       0.99      0.85      0.90      3177
weighted avg       0.99      0.99      0.99      3177

In [ ]:
# print(race_data1.driver_tyre_coefficients)

race_sim = RaceSimulation(race_data1, overtake1)
race_sim.simulate()
print(race_sim.num_overtakes)
sim_df = race_sim.get_results_as_dataframe()
sim_df

NameError: name 'overtake1' is not defined

In [ ]:
eval = RaceSimEvaluation(race_sim, race1, db1)

print(eval.compare_total_cumulative_times()[1])
eval.compare_total_cumulative_times()[0]

4526.807157139284

,driver_number,driver_name,simulated_cumulative_time,actual_cumulative_time,absolute_error
0,1,Max Verstappen,954.905757,5472.340,4517.434243
1,63,George Russell,955.450054,5518.095,4562.644946
2,11,Sergio Perez,956.589557,5493.612,4537.022443
3,16,Charles Leclerc,957.838620,5511.324,4553.485380
4,55,Carlos Sainz,960.729921,5495.858,4535.128079
5,4,Lando Norris,967.294531,5518.585,4551.290469
6,3,Daniel Ricciardo,967.774918,5475.642,4507.867082
7,81,Oscar Piastri,969.658371,5526.014,4556.355629
8,44,Lewis Hamilton,969.776978,5519.946,4550.169022
9,10,Pierre Gasly,971.192915,5498.016,4526.823085
10,14,Fernando Alonso,971.674676,5545.380,4573.705324
11,22,Yuki Tsunoda,971.740756,5478.926,4507.185244
12,45,Logan Sargeant,971.968968,5486.956,4514.987032
13,18,Lance Stroll,972.034721,5556.481,4584.446279
14,23,Alexander Albon,973.325974,5481.125,4507.799026
15,20,Kevin Magnussen,974.012965,5477.296,4503.283035
16,24,Guanyu Zhou,975.732852,5474.570,4498.837148
17,31,Esteban Ocon,975.987811,5497.340,4521.352189
18,27,Nico Hulkenberg,998.980702,5482.130,4483.149298
19,77,Valtteri Bottas,1000.273811,5443.452,4443.178189

In [ ]:
eval.get_position_accuracy_final_class()

{'position_accuracy': 0.2,
 'top_3_accuracy': 0.6666666666666666,
 'mean_error': 2.7,
 'total_error': 54}

In [ ]:
eval.compare_total_to_front()

{'total_simulated_gap_to_front': 318.8297194656101,
 'total_actual_gap_to_front': 506.28799999999774}